fastapi
uvicorn[standard]
python-multipart
pydantic-settings
langchain-core
langchain-community
langchain-text-splitters
langchain-neo4j
langchain-groq
langchain-experimental
pypdf
neo4j
sentence-transformers
langchain-huggingface